name: Daily Telegram Message

on:
  schedule:
    # Kör varje dag kl 18:00 UTC (20:00 svensk tid)
    - cron: '45 10 * * *'
    #- cron: '0 18 * * *'
  
  # Tillåt manuell körning för testning
  workflow_dispatch:

jobs:
  send-message:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Send daily message
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
        DAILY_MESSAGE: ${{ secrets.DAILY_MESSAGE }}
      run: python main.py
